/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 20, 2016, 9:17:08 AM
    Author     : Jack
*/
/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
        
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */
@viewport {
	width: device-width;
	}
@font-face {
    font-family: Terminator;
    src: url(../fonts/TERMINAT.otf);
	}

html {
	background-color: #1A4C80;
}
body {
	
}
.wrapper {
	background: url(img/Tune-O-RaterBG.png) no-repeat fixed center;
}
.mainWrapper {
	border-top: 1px solid #6F3BA4;
	border-bottom: 1px solid #6F3BA4;
	overflow: hidden;
	background: url(img/ContentBG.jpg) no-repeat fixed center;
	
}
.headWrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 1%;
	border-top: 1px solid #6F3BA4;
	overflow: hidden;
	clear: both;
	background: url(img/ContentBG.jpg) no-repeat fixed center;

}
nav {
	background-color: rgb(25,25,25);
	border: 1px solid rgba(255,255,255,.5);	
	border-left: none;
	border-right: none;
}
nav ul {
	padding: 0;
	margin: 0;	
}
nav li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	color: white;	
}
nav a {
	float: left;
	font-size: .8em;	
	color: white;
	font-weight: normal;
	text-decoration: none;
	padding: 10px;
	border-right: 1px dashed rgba(255,255,255,.75);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
nav li:last-of-type a {
	border-right: none;

}

nav a:hover {
	background-color: rgb(189,165,127);
}
.banner {
	width: 80%;
	margin: auto;
	background-color: #000000;
	
}
.banner .logo {
	margin-left: 39%;
}

.mainWrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;

}
.main {
	float: left;
	width: 50%;
	padding: 2%;
	margin-left: 2%;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #E46725;
}
.footerWrapper {
	width: 80%;
	margin:  0 auto;
	background: #000;
	clear: both;

}
.main p {
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 10px;
}

.main ol, .main ul {
  margin-bottom: 10px;
  margin-left: 20px;
}

.main li {
  font-size: 14px;
}

.main h2 {
	color: #6F3BA4;
	font-family: Terminator;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
	background-color: 
}
.main h1 {
	color: #6F3BA4;
	font-family: Terminator;
	border-bottom: 1px solid #FFF;
	margin-bottom: 20px;
}
.sidebar {
	float: right;
	width: 35%;
	padding: 2%;
	margin-right: 2%;
	background-color: #6F3BA4;
}

.sidebar p {
	margin-bottom:10px;
	color: #000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

.sidebar p:first-line {
	font-weight: bold;
}
.header {
	width: auto;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding: 20px 0;
}
.headerMain {
	text-align: center;
}
.headerMain h1 {
	font-family: Terminator;
	color: #6F3BA4;
}
.headerMain p {
	font: 12px Tahoma, Geneva, sans-serif;
	color: #6F3BA4;
}

.slider {
	width: 50%;
	padding: 10px;
	margin: auto;
}
.footer {
	width: auto;
	margin-right: auto;
	margin-left: 2%;
	overflow: hidden;
	padding: 20px 0;
}
.footerMain {
	float: right;
	padding-right: 5%;
}
.footerMain p {
	font: 12px Tahoma, Geneva, sans-serif;
	color: #FFF;
}
.mainNav li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
}
.mainNav {

	width: 100%;
	margin: 0 auto;
	
}
.mainNav a {
	display: block;
	padding: 5px 20px;
    float: left;
	text-decoration: none;
	color: #6F3BA4;
	font-weight: bold;
	font: 14px Tahoma, Geneva, sans-serif;
}

.home a.homeLink,
.music a.musicLink
{
	color: #83c0d4;	
	background-image: url(../images/link_arrow.png);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	padding-left: 26px;

}

.home .footerNav a.homeLink,
.music .footerNav a.musicLink
{
	
background-image: url(../images/link_arrow_rt.png);
background-position: 5px 6px;
padding-left: 20px;

}


.mainNav a:hover {
  background-color: #83c0d4;
}

.sidenav {
	background: url(../images/screen.png);
	margin: 0 0 30px 0;
	padding: 0px;
	list-style: none;
	border-bottom: 1px dotted #FFF;
}
.sidenav a {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	border-top: 1px dotted #FFF;
	color: #000000;
}
.sidenav a:hover {
	background-color: #1A4C80;
}
.headerNav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-top: 1px solid #856FA4;
}

.headerNav a  {
	font: 13px Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #856FA4;
}

.headerNav {
	float: right;
	width: 10%;
	margin: 1%;
}
.footerNav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-top: 1px solid #856FA4;
}
.footerNav a {
	font: 13px Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 3px 10px;
	border-bottom: 1px solid #856FA4;
}
.navWrapper {
	background-color: #6F3BA4;
}

.footerNav {
	float: left;
	width: 150px;
}

.main a {
	text-decoration: none;
	color: #FFF;
	font: 14px Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
.main ul {
	padding-top: 10px;
}

.mainForm{
	padding-left: 4%;
}
.container legend {
  text-align: center;
  padding-bottom: 1%;
}

.container form {
	float: right;

}

/*button {
  width: 20%;
  position: absolute;
  right: 20%;
  bottom: 20%;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 20%;
  border-radius: 15%;
  border: 1% solid #999;
}*/

input.button:hover {
  background: #fff;
  color: #09C;
}


nav {
	text-align: center;  
}
nav li {
 	float: none;  
	display: inline-block;
}
nav a {
	float: none;  
	display: inline-block;
	border: none;
}

form {
    margin: 5px;
}
form input {
    margin: 5px;
}
.error {
    color: red;
}

.artist-table th, tr, td {
	padding: 3px;
	text-align: center;
	border: 1px solid black;
}

.artistGenres li {
	background-color: #ffe1bf;
    color: black;
    border: 2px solid #b17d14;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;

}

.artistGenres li a {
	text-decoration: none;
}

.artistTable {
	width: 100%;

}

td .artistImage {
	box-shadow: 10px 10px 5px gray;
	margin: 10px ;
	border-radius: 5px;
}

.formInput{
	margin: 4%;
}
.formInput label {
	background-color: #6F3BA4;
	width: 10%;
	color: #fff;
	height: 3%;
	display: inline-block;
	padding: .5%;
	text-align: left;
	box-shadow: 2px 2px 2px #333;

}

.formInput select {
	margin: 2%;
	height: 1%;
}

.formInput input {
	height: 2%;
	width: 15%;
	color: #000;
	height: 3%;
	display: inline-block;
	padding: .5%;
	text-align: left;
	box-shadow: 2px 2px 2px #333;
}

.conNotes {
	padding: 2%;
	margin: 2%, 2%, 2%, 10%;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background-color: #E46725;
}

.login {
	padding: 2%;
	margin: 2%, 2%, 2%, 10%;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #E46725;
}

.button {
	background-color: #6F3BA4;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	cursor: pointer;
	color: #fff;
	margin: 12px;
	padding: 8px;
	text-shadow: 1px 1px 0px #CCC;
	text-decoration: none;
}



.mainFormInput {
	outline: none;
	margin: 2%;
	padding: 1%;
}

.adminTable1 {
	border-collapse: collapse;
}

.mainFormInput h1, h2 {
	color: #6F3BA4;
	text-shadow: 1px 1px 0px #CCC;
	left-margin: 2px;
	padding: 2%;
	
}

.mainFormInput th, td, label  {
	color: #6F3BA4;
	text-shadow: 1px 1px 0px #CCC;
	left-margin: 2px;
	padding: 2%;
	
}

.button-delete {
	background-color: #6F3BA4;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	cursor: pointer;
	color: #fff;
	margin: 12px;
	padding: 8px;
	text-shadow: 1px 1px 0px #CCC;
	text-decoration: none;
}

.nav-admin-login {
	color: #6F3BA4;
	text-shadow: 1px 1px 0px #CCC;
	left-margin: 2px;
	padding: 2%;
	font-weight: bold;
	height: 3%;
}

.nav-admin-login button{
	background-color: #6F3BA4;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	cursor: pointer;
	color: #fff;
	margin: 12px;
	padding: 8px;
	text-shadow: 1px 1px 0px #CCC;
	text-decoration: none;
}